<h2>Registrar Recepción</h2>

<form [formGroup]="form" (ngSubmit)="realizarRecepcion()">
    <div class="form-group mb-3">
        <label>Fecha</label>
        <input type="date" formControlName="fecha" class="form-control" required />
    </div>

    <div class="form-group mb-3">
        <label>Proveedor</label>
        <select formControlName="proveedorId" class="form-select" required>
        <option value="">-- Seleccione un proveedor --</option>
        <option *ngFor="let p of proveedores" [value]="p.idProveedor">
            {{ p.razonSocial }}
        </option>
        </select>
    </div>

    <button class="btn btn-success" type="submit">Realizar Recepción</button>
</form>
