.table-container {
  margin-top: 20px;
  overflow-x: auto;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.styled-table {
  width: 100%;
}

.activo {
  color: green;
  font-weight: bold;
}

.inactivo {
  color: red;
  font-weight: bold;
}

.export-button {
  margin-bottom: 16px;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 16px;
}
