<router-outlet/>

<mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Mario Vargas Llosa" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="idCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let item"> {{item.idCliente}} </td>
      </ng-container>     
  
      <ng-container matColumnDef="nomCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
        <td mat-cell *matCellDef="let item"> {{item.nomCliente}} </td>
      </ng-container>

      <ng-container matColumnDef="tipoCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO </th>
        <td mat-cell *matCellDef="let item"> {{item.tipoCliente}} </td>
      </ng-container>

      <ng-container matColumnDef="tipoDocumento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO </th>
        <td mat-cell *matCellDef="let item"> {{item.tipoDocumento}} </td>
      </ng-container>
  
      <ng-container matColumnDef="numDocumento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NRO DOCUMENTO </th>
        <td mat-cell *matCellDef="let item"> {{item.numDocumento}} </td>
      </ng-container>

      <ng-container matColumnDef="numCelular">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NRO CELULAR </th>
        <td mat-cell *matCellDef="let item"> {{item.numCelular}} </td>
      </ng-container>
  
      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CORREO</th>
        <td mat-cell *matCellDef="let item"> {{item.correo}} </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="actions"> ACTIONS </th>
        <td mat-cell *matCellDef="let item">
          <button mat-button (click) = "openDialog(item)">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button mat-button (click)="delete(item.idCliente)">
            <mat-icon>delete</mat-icon>
          </button> 
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
      <tr mat-row *matRowDef="let item; columns: getDisplayedColumns();"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select pages cliente"></mat-paginator>

  </div>
  <button mat-fab style="float: right;" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
  
  